@page "/"
@using UIBlazorTickets.Services.ResponseServices
@using UIBlazorTickets.Services.TicketServices
@inject IResponseService responseService
@inject ITicketService ticketService

<PageTitle>Home</PageTitle>

<div class="list-group">

</div>

<!-- Visa Tickets, hämta och visa alla tickets från databasen vid -->
<!-- Skapa ett validerat formulär  för att lägga till en ny ticket i databasen-->

@code {
    public async void OnInitializedAsync()
    {
        //Hämta och visa alla tickets från databasen
        //Tickets ska vara sorterade kronologiskt
    }

    //Skapa tickets
    //Skapa komponent

}