@page "/"
@using AppLogic.Services.ViewServices
@using Shared.Models
@inject IResponseService responseService
@inject IViewServices ViewService
@using AppLogic.Services.ResponseServices
@using AppLogic.Services.TicketServices
@using Shared.Models.Shared.Models
@using static Shared.Models.ApiModels




<div class="col">
    <UIBlazorTickets.Pages.Components.NewMessage></UIBlazorTickets.Pages.Components.NewMessage>
    <br />
    <br />


    <UIBlazorTickets.Pages.Components.Tickets Title="Rubrik" Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." SubmittedBy="EmmaDQ" IsResolved=false />


</div>




<!-- Visa Tickets, hämta och visa alla tickets från databasen vid -->
<!-- Skapa ett validerat formulär  för att lägga till en ny ticket i databasen-->

@code {

    private List<TicketAPIModel>? Ticke;
    public List<TicketViewModel> Tickets { get; set; }

    protected override async Task OnInitializedAsync()
    {
        //<Ticke = ViewService.GetAPIResponse();

    }
    //Hämta och visa alla tickets från databasen
    //Tickets ska vara sorterade kronologiskt

    

    //responses = await responseService.GetResponses();
    //Skapa tickets
    //Skapa komponent
}

    

    

