@page "/"
@using AppLogic.Services.ResponseServices
@using AppLogic.Services.TicketServices
@using Shared.Models
@inject ITicketServices ticketService;
@inject IResponseService responseService;


<PageTitle>Home</PageTitle>


<UIBlazorTickets.Pages.Components.Tickets Title="Rubrik" Description="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." SubmittedBy="EmmaDQ" IsResolved=false />
=======
<div class="list-group">
    @foreach(var response in responses)
    {
        <h3>@response.Response</h3>
        <p>@response.SubmittedBy</p>
    }
</div>
>>>>>>> 1cae45e5a92321e98fb29b31abd7e53083141ea0

<!-- Visa Tickets, hämta och visa alla tickets från databasen vid -->
<!-- Skapa ett validerat formulär  för att lägga till en ny ticket i databasen-->

@code {

    private List<ResponseModel>? responses;

    protected override async Task OnInitializedAsync()
    {
        //Hämta och visa alla tickets från databasen
        //Tickets ska vara sorterade kronologiskt

        responses = await responseService.GetResponses();
    }

    //Skapa tickets
    //Skapa komponent

}