
@using Shared.Models
@using Shared.Models.Shared.Models
<div class="row " >  
    <EditForm Model="NewTicket" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="col-4 d-flex flex-column align-items-center " >
        <h3>Post new message</h3>
        
        <hr />
            <div class="d-flex flex-column  align-items-end ">
                <div>
                    <span>Title: </span>
                    <InputText @bind-Value="NewTicket.Title" />

                </div>
                <div>
                    <span>Ticket: </span>
                    <InputTextArea style="s" @bind-Value="NewTicket.Description" />

                </div>
                <div>
                    <span>Submitted by: </span>
                    <InputText @bind-Value="NewTicket.SubmittedBy" />

                </div>
        </div>
        
            <br />
        <Input type="submit" value="Submit new ticket"/>
    </div>
   

</EditForm>
</div>



@code {
    public TicketViewModel NewTicket { get; set; } = new();


    public void HandleSubmit()
    {
        
    }
}
