<div class="message ">
    
        
        <div class="row message-inside ">
            <div class="col-2 ">
                <img src="/Images/letter.png" />
            </div>
            <div class="col-6 d-flex flex-column justify-content-around align-items-start">
                <div class="">
                    <h3>@Title</h3>
                    <p>@Description</p>
                    <div class="">
                        <strong>Author: <em>@SubmittedBy</em></strong>
                    </div>
                </div>
                <InputCheckbox Value=@IsResolved ></InputCheckbox>
                <div>
                <NavLink href="/response" class="btn btn-outline-primary">Se responses</NavLink>
                </div>
            
            </div>
        </div>
            
    

</div>




@code {
    [Parameter]
    public string? Title { get; set; }
    [Parameter]
    public string? Description { get; set; }
    [Parameter]
    public string? SubmittedBy { get; set; }
    [Parameter]
    public bool IsResolved { get; set; }

    //Visa en ticket



}